body
{
    align-items: center;
    display: grid;
    border: none;
    margin: 0px;
    padding: 0px;
}
#alinhado
{
    background-image: url(../imag/normalif.webp);    
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template: 80px 10% 300px 10% 100px 10% / 100% ;
    animation: knowif 2s;
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}
#bomdia
{
    justify-content: center;
    text-align: center;
    width: auto;
    align-self: center;
    align-items: center;
    font-size: larger;
    font-family: Verdana, Tahoma, sans-serif;
    color: #ffffff;
    background-color: #1f932440;
    grid-row: 2 / 2;
}

#bhutan
{
    justify-content: center;
    text-align: center;
    width: auto;
    align-self: center;
    align-items: center;
    grid-row: 4 / 4;
    align-self: center;
}
#batata
{
    justify-content: center;
    text-align: center;
    width: auto;
    align-self: center;
    align-items: center;
    grid-row: 6 / 6;
}

@keyframes knowif{
    0%{
        filter: brightness(-100vmin);
        background-image: url(../imag/Cursos-IFSP.webp);
    }
    100%{
        filter: brightness(0vmin);
        background-image: url(../imag/normalif.webp);
    }
}