body
{
    align-items: center;
    display: grid;
    border: none;
    margin: 0px;
    padding: 0px;
}
#alinhado
{
    background-image: url(../imag/normalif.webp);    
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template: 15vh 20vh 13.75vh 13.75vh 13.75vh 13.75vh 10vh / 15% 85% ;
    animation: knowif 2s;
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}
#logo{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-image: url(../imag/Logo-IF-Inferni.png);
    background-size: contain; /* Ou ajuste para 'cover' ou outro valor conforme necessário */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat;
    border: 3px solid #1f9324; /* Ajuste a cor conforme necessário */
}
#baner{
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    background-color: #758880bb;

    border: 3px solid #cb080440; /* Ajuste a cor conforme necessário */
    padding: 10px;

    background-image: url(../imag/DantesInfernoBanner.jpg); /* Substitua pela URL da imagem desejada */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    color: #cb0804;
}
#menu{
    grid-column: 1 / 2;
    grid-row: 2 / 8;

    border: 3px solid #cb080440; /* Ajuste a cor conforme necessário */
    padding: 10px;

    text-align: center;
}
#tr0{
    grid-column: 2 / 3;
    grid-row: 2 / 2;

    border: 3px solid #1f9324; /* Ajuste a cor conforme necessário */
    padding: 10px;

    text-align: center;
    color: #fff;
}
#tr1{
    grid-column: 2 / 3;
    grid-row: 3 / 3;

    border: 3px solid #AF0804; /* Ajuste a cor conforme necessário */
    padding: 10px;

    text-align: center;
    padding: 10px;
    color: #fff;
}
#tr2{
    grid-column: 2 / 3;
    grid-row: 4 / 4;

    border: 3px solid #AF0804; /* Ajuste a cor conforme necessário */
    padding: 10px;

    text-align: center;
    padding: 10px;
    color: #fff;
}
#tr3{
    grid-column: 2 / 3;
    grid-row: 5 / 5;

    border: 3px solid #AF0804; /* Ajuste a cor conforme necessário */
    padding: 10px;

    text-align: center;
    padding: 10px;
    color: #fff;
}
#tr4{
    grid-column: 2 / 3;
    grid-row: 6 / 6;

    border: 3px solid #AF0804; /* Ajuste a cor conforme necessário */
    padding: 10px;

    text-align: center;
    padding: 10px;
    color: #fff;
}
#rodape{
    grid-column: 2 / 3;
    grid-row: 7 / 7;

    border: 3px solid #AF0804; /* Ajuste a cor conforme necessário */
    padding: 10px;

    text-align: center;
    padding: 10px;
    color: #fff;
}

@keyframes knowif{
    0%{
        filter: brightness(-100vmin);
        background-image: url(../imag/Cursos-IFSP.webp);
    }
    100%{
        filter: brightness(0vmin);
        background-image: url(../imag/normalif.webp);
    }
}